<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmeriCommerceApiExamples.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <AmeriCommerceApiExamples.Properties.Settings>
            <setting name="AmeriCommerceApiExamples_ACDB_AmeriCommerceDatabaseIO"
                serializeAs="String">
                <value>http://shop.mybox.com/store/ws/americommercedb.asmx</value>
            </setting>
            <setting name="ApiUsername" serializeAs="String">
                <value>youruser</value>
            </setting>
            <setting name="ApiPassword" serializeAs="String">
                <value>yourpass</value>
            </setting>
            <setting name="ApiSecurityToken" serializeAs="String">
                <value>yourtoken</value>
            </setting>
        </AmeriCommerceApiExamples.Properties.Settings>
    </applicationSettings>
</configuration>